<!-- templates/alumnos/agregar_noticia.html -->

{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'recursosCss/styleSheet.css' %}">
<div class="container">
    <h1>Agregar Noticia</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="historia">Parrafo 1:</label>
            <textarea class="form-control" id="historia" name="historia" required></textarea>
        </div>

        <div class="form-group">
            <label for="historia2">Parrafo 2:</label>
            <textarea class="form-control" id="historia2" name="historia2" required></textarea>
        </div>

        <div class="form-group">
            <label for="textoAgregado">Texto Adicional:</label>
            <textarea class="form-control" id="textoAgregado" name="textoAgregado" required></textarea>
        </div>

        <input type="hidden" id="autor" name="autor" value="{{ request.user.username }}">
        <div class="form-group">
            <label for="fecha_publicacion">Fecha de Publicación:</label>
            <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" readonly>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
        </div>

        <div class="form-group">
            <label for="categoria">Categoría:</label>
            <select class="form-control" id="categoria" name="categoria" required>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Campo oculto para el estado -->
        <input type="hidden" id="estado" name="estado" value="Ingresada">

        <button type="submit" class="btn btn-primary">Agregar Noticia</button>
    </form>
</div>

<script>
    // Establecer la fecha actual como valor por defecto en el campo de fecha
    document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date();
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0
        const dd = String(today.getDate()).padStart(2, '0');
        const formattedDate = `${yyyy}-${mm}-${dd}`;

        document.getElementById('fecha_publicacion').value = formattedDate;
    });
</script>

{% endblock %}
