{% extends "alumnos/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>Carrito de Compras</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.producto.nombre_producto }}</td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.producto.valor_producto }}</td>
                <td>${{ item.producto.valor_producto|multiply:item.cantidad }}</td>  {# Utiliza el filtro personalizado #}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td><strong>${{ total }}</strong></td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Realizar Pago</a>
</div>
{% endblock %}
