{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'recursosCss/styleCarrito.css' %}">
<link rel="stylesheet" href="{% static 'recursosCss/styleSheet.css' %}">
<!-- Contenedor principal -->
<div class="container">
    <h1>PLAN DIGITAL</h1>
    <!-- Aquí irá el carrito de compras -->
    <div class="row container-fluid" id="carrito">
        <div class="col-lg-3 producto">
            <img src="{% static 'resources/planbasico.png' %}" class="img-fluid" alt="plan basico">
            <br>
            <button class="btn-agregar" data-producto="basico">Agregar al carrito</button>
        </div>
        <div class="col-lg-3 producto">
            <img src="{% static 'resources/PLANINTERMEDIO.png'%}" class="img-fluid" alt="plan intermedio">

            <button class="btn-agregar" data-producto="intermedio">Agregar al carrito</button>
        </div>
        <div class="col-lg-3 producto">
            <img src="{% static 'resources/promocion.png' %}" class="img-fluid" alt="promocion">

            <button class="btn-agregar" data-producto="promocion">Agregar al carrito</button>
        </div>
        <div class="col-lg-3 producto" id="carrito-container">

            <div class="col-lg-3 producto" id="carrito-container"></div>
            <div class="header-carrito"> Compras</div>
            <ul id="lista-carrito"></ul>
            <p>Total: $<span id="total-carrito">0</span></p>
            <br>

        </div>

        <!-- Opciones de suscripción -->
        <div id="suscripcion">
            <h2>Suscripciones</h2>
            <div class="opcion-suscripcion container-fluid" data-plan="basic">
                <h3>Plan Básico</h3>
                <p>✔ Acceso digital ilimitado a los contenidos de Caos News.com, Caos News AM, PM y Noche, Pulso,
                    Qué Pasa, Culto, Paula
                    <br>
                    ✔ Navega sin publicidad emergente
                    <br>
                    ✔ Acceso exclusivo a papel digital Caos News, Caos News Noche y Conversaciones LT
                    <br>
                    ✔ Early Access Caos News (Edición digital disponible en App y Mailing en día anterior desde las
                    21 horas)
                    <br>
                    ✔ Acceso a Newsletter
                    <br>
                    ✔ Acceso a Podcast
                    <br>
                    ✔ Beneficios Club Caos News + 1 adicional
                </p>
                <p>Precio:1.990</p>

            </div>

        </div>
        <div class="opcion-suscripcion container-fluid" data-plan="intermedio">
            <h3>Plan Intendermedio</h3>

            <p>✔ Acceso digital ilimitado a los contenidos de Caos News .com, Caos News AM, PM y Noche, Pulso, Qué
                Pasa,
                Culto, Paula.
                <br>
                ✔ Navega sin publicidad emergente
                <br>
                ✔ Acceso exclusivo a papel digital Caos News , Caos News Noche y Conversaciones LT
                <br>
                ✔ Early Access Caos News (Edición digital disponible en App y Mailing en día anterior desde las 21
                horas)
                <br>
                ✔ Acceso a Newsletter
                <br>
                ✔ Acceso a Podcast
                <br>
                ✔ Beneficios Club La Tercera + 4 adicionales.
            </p>
            <p>Precio: 5.990</p>
        </div>
        <div class="opcion-suscripcion container-fluid" data-plan="premium">
            <h3>Plan Promocion especial</h3>

            <p>✔ Acceso digital ilimitado a los contenidos de Caos News .com, Caos News AM, PM y Noche, Pulso, Qué
                Pasa,
                Culto, Paula.
                <br>
                ✔ Navega sin publicidad emergente
                <br>

                ✔ Acceso exclusivo a papel digital La Tercera, La Tercera Noche y Conversaciones LT
                <br>
                ✔ Early Access Caos News (Edición digital disponible en App y Mailing en día anterior desde las 21
                horas)
                <br>
                ✔ Acceso a Newsletter
                <br>
                ✔ Acceso a Podcast
                <br>
                ✔ Beneficios Club La Tercera + 4 adicionales
            <p>Precio: 8.990</p>
            </p>

        </div>
    </div>

</div>

<script src="{% static 'recursosJS/jquery2.js' %}"></script>
<script src="{% static 'recursosJS/carrito.js' %}"></script>



{% endblock%}