{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'recursosCss/estilosNoticias.css' %}">

    <div class="container-fluid">
        <!-- API section -->
        <div class="container-fluid estiloAPI">
            <h6 class="text-center text-sm-* text-md-* text-lg-*" id="fechaPanel"></h6>
        </div>

        <!-- Economic values -->
        <div class="row container-fluid estiloAPI">
            <div class="col">
                <h6 class="text-center text-sm-left text-md-left text-lg-left" id="valorDolar"></h6>
            </div>
            <div class="col">
                <h6 class="text-center text-sm-left text-md-left text-lg-left" id="valorUF"></h6>
            </div>
            <div class="col">
                <h6 class="text-center text-sm-left text-md-left text-lg-left" id="valorIPC"></h6>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Carousel con noticias destacadas -->
        <div class="row rowstyle mb-4">
            <!-- Columna izquierda con noticias de deportes -->
            <div class="col-lg-3 col-md-4 col-sm-3 mb-4">
                <h3 class="text-center">Deportes</h3>
                {% for noticia in noticias_deportes %}
                <div class="card mb-3">
                    {% for foto in noticia.fotos.all %}
                    <img src="{{ foto.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}">
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.descripcion }}</p>
                        <a href="{% url 'deportes' %}" class="btn btn-dark">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Columna central con el carousel -->
            <div class="col-lg-6 col-md-4 col-sm-6 mb-4">
                <div id="carouselExampleCaptions" class="carousel slide mx-auto carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
                    <div class="carousel-inner">
                        {% for noticia in noticias_carousel %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{% url 'nacional'  %}">
                                <img src="{{ noticia.fotos.first.imagen.url }}" class="d-block w-100" alt="{{ noticia.titulo }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ noticia.titulo }}</h5>
                                    <p>{{ noticia.descripcion }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <!-- Columna derecha con noticias internacionales -->
            <div class="col-lg-3 col-md-4 col-sm-3 mb-4">
                <h3 class="text-center">Internacional</h3>
                {% for noticia in noticias_internacional %}
                <div class="card mb-3">
                    <img src="{% static 'resources/img-internacional.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.descripcion }}</p>
                        <a href="{% url 'noticiaInternacional' %}" class="btn btn-dark">Leer más</a>
                    </div>
                </div>
                {% empty %}
                <p>No hay noticias internacionales disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'recursosJS/jquery2.js' %}"></script>
    <script src="{% static 'recursosJS/apiEconomico.js' %}"></script>

{% endblock %}
