{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'recursosCss/styleSheet.css' %}">
<div class="wrapper">


    {% for noticia in noticias %}
    <div class="row rowstyle">
        <div class="col-lg-3 col-md-12 col-sm-12 justify-content text-align">
            <p style="margin-top: 130px;">
                <em>{{ noticia.historia}}</em>
            </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h2>{{ noticia.titulo }}</h2>

            <!-- Carrusel de Bootstrap -->
            <div id="carouselExampleIndicators{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for foto in noticia.fotos.all %}
                    <li data-target="#carouselExampleIndicators{{ forloop.parentloop.counter }}"
                        data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for foto in noticia.fotos.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ foto.imagen.url }}" class="d-block mx-auto" alt="Imagen de la noticia" style="max-height: 600px; max-width: 900px;">
                    </div>
                    {% endfor %}
                </div>

                <div style="display: flex; justify-content: center; margin-top: 1%;">

                    <em>
                        <h5>{{noticia.textoAgregado}} <br> Autor: {{ noticia.autor }}, Fecha de Publicación:
                            {{ noticia.fecha_publicacion|date:"d/m/Y" }},
                            Ubicación: {{ noticia.ubicacion }}</h5>
                    </em>

                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators{{ forloop.counter }}" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators{{ forloop.counter }}" role="button"
                    data-slide="next">
                    <span class="sr-only">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>

            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p style="margin-top: 130px;">
                <em>{{ noticia.historia2}}</em>
            </p>
        </div>
    </div>
</div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}