{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'recursosCss/styleSheet.css' %}">
<link rel="stylesheet" href="{% static 'recursosCss/style_carga.css' %}">

<div class="page-loader">
    <div class="spinner"></div>
    <div class="txt">Cargando<br />espere...</div>
</div>

<div class="container">
    <div style="text-align: center; " >
        {% if mensaje %}
        <div id="idMensajes" class="mensaje">{{ mensaje }}</div>
        {% endif %}
    </div>
</div>

<div class="registroCont">
    <h1>Formulario de Registro</h1>
    <form action="usuarioAdd" method="POST" class="row g-3 needs-validation" id="registroForm">
        {% csrf_token %}
        <div class="col-lg-md-4 registro">
            <label for="validationCustom01" class="form-label">Nombres</label>
            <button type="button" data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="El campo debe contener entre 3 y 20 caracteres sin números."
                style="border: none; background-color: transparent;" data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <input type="text" class="form-control" id="nombres" name="nombres" required>
            <div class="valNombres"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom02" class="form-label">Apellidos</label>
            <button class="buttonImg" type="button" data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="El campo debe contener entre 3 y 20 caracteres sin números." data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <input type="text" class="form-control" id="apellidos" name="apellidos" required>
            <div class="valApellidos"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustomUsername" class="form-label">Nombre de Usuario</label>
            <button class="buttonImg" type="button " data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="El campo debe contener entre 4 y 15 caracteres." data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="nom_usuario" name="nom_usuario" required>
            </div>
            <div class="valUsuario"></div>
            <div id="nombreUsuarioError" class="text-danger"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom03" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" required>
            <div class="valTelefono"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom04" class="form-label">Correo Electrónico</label>
            <button class="buttonImg" type="button " data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="Debe ser @gmail.com, @hotmail.com/es, @yahoo.es." data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <input type="email" class="form-control" id="correo" name="correo" required>
            <div class="valCorreo"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom05" class="form-label">Contraseña</label>
            <button class="buttonImg" type="button " data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="Debe contener al menos una letra, un número y al menos 8 caracteres."
                data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <input type="password" class="form-control" id="pass" name="password" required>
            <div class="valPassword"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom06" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" id="pass2" required>
            <div class="valPassword2"></div>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom07" class="form-label">Fecha de Nacimiento</label>
            <button class="buttonImg" type="button " data-bs-toggle="popover" data-bs-trigger="hover"
                data-bs-content="Seleccionar una fecha válida." data-bs-placement="right">
                <img src="{% static 'resources/exclamacion.png' %}" alt="exc" style="width: 8px;height:8px">
            </button>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>

        <div class="col-lg-md-4 registro">
            <label for="validationCustom08" class="form-label">Profesión</label>
            <select class="form-select" id="profesion" name="profesion" required>
                {% for profesion in profesiones %}
                <option value="{{ profesion.id_profesion }}">{{ profesion.profesion }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-md-4 registro">
            <label for="validationCustom09" class="form-label">Región</label>
            <select class="form-select" id="region" name="region" required>
                {% for region in regiones %}
                <option value="{{ region.cod_region }}">{{ region.nombre_region }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-md-4 registro">
            <label for="validationCustom10" class="form-label">Ciudad</label>
            <select class="form-select" id="ciudad" name="ciudad" required>
                {% for comuna in comunas %}
                <option value="{{ comuna.cod_comuna }}" data-region-id="{{ comuna.region.cod_region }}">
                    {{ comuna.nombre_comuna }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-md-4 registro">
            <label for="validationCustom11" class="form-label">Código Postal</label>
            <input type="number" class="form-control" id="cod_postal" name="cod_postal" required>
        </div>
        <div class="col-12 registro">
            <button class="btn btn-primary" type="submit" name="opcion">Registrarse</button>
        </div>
    </form>
</div>


<script src="{% static 'recursosJS/validaciones.js' %}"></script>
<script src="{% static 'recursosJS/script_carga.js' %}"></script>
<script src="{% static 'recursosJS/cargarComunasRegiones.js' %}"></script>
{% endblock %}