{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}


<!-- Contenedor principal -->

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
    {{ message }}
</div>
{% endfor %}
{% endif %}



<div class="" style="align-items: center;">
    <h1 style="text-align: center; margin-top: 1%;">PLANES DIGITALES</h1>
    <!-- Aquí irán los productos y el carrito -->
    <div class="row container-fluid" id="productos-y-carrito">
        <!-- Productos -->
        <div class="col-lg-12">
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4 ">
                    <div class="">
                        <div class="opcion-suscripcion container-fluid " style="background-color: rgb(241, 205, 188); border-radius: 10px;" data-plan="{{ producto.nombre_producto }}">
                            <h3>{{ producto.nombre_producto }}</h3>
                            <p>{{ producto.descripcion|linebreaksbr }}</p>
                            <p>Precio: ${{ producto.valor_producto }}</p>
                            <form method="POST" action="{% url 'suscripciones' %}">
                                {% csrf_token %}
                                <input type="hidden" name="producto_id" value="{{ producto.id_producto }}">
                                <button type="submit" class="btn btn-outline-primary">Agregar al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-4"></div>
                <div class="bordes col-lg-4">
                    <div class="producto">
                        <div>Carrito de Compras</div>
                        <ul id="lista-carrito">
                            {% if carrito %}
                            {% for item in carrito.itemcarrito_set.all %}
                            <li>{{ item.producto.nombre_producto }} - Cantidad: {{ item.cantidad }}</li>
                            {% endfor %}
                            {% else %}
                            <li>No hay productos en el carrito.</li>
                            {% endif %}
                        </ul>
                        <p>Total: $<span id="total-carrito">
                                {% if carrito %}
                                {{ carrito.total_carrito }}
                                {% else %}
                                0
                                {% endif %}
                            </span></p>
                        <form method="post" action="{% url 'realizar_compra' %}">
                            {% csrf_token %}
                            <!-- Aquí van los campos del formulario de compra si los hay -->
                            <button type="submit" class="btn btn-primary">Realizar Compra</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <!-- Carrito -->
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
    integrity="sha384-MpE0aAzQPQoVkJOZsP5LtskLvTHbreYDUf2FEB2kWpI9sTgrv9He7nBkIiSv1SS" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh/jVsxcDkfKVEJfypbnO+P/IJFcy5q2tD2gi"
    crossorigin="anonymous"></script>

<script>
    // Script para cerrar automáticamente la alerta después de 5 segundos
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 1500);
</script>
{% endblock %}