{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'recursosCss/usuarios_list.css' %}">
<div class="container mt-4">
    <h1 class="text-center mb-4">Edición de Usuarios</h1>

    <!-- Tabla de Usuarios Personalizados -->
    <div>
        <h2>Usuarios Personalizados</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Profesión</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.user.username }}</td>
                        <td>{{ usuario.profesion }}</td>
                        <td>{{ usuario.user.email }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'usuarios_del' pk=usuario.id %}" class="btn btn-danger">Eliminar</a>
                                <a href="{% url 'usuarios_findEdit' pk=usuario.id %}"
                                    class="btn btn-warning">Modificar</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay usuarios personalizados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#idMensajes").delay(2000).fadeOut("slow");
    })
</script>

{% endblock %}