{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
<h1>Editar Usuario</h1>

{% if request.user.is_authenticated %}
<p>Bienvenido, {{ request.user.username }}</p>
{% endif %}

{% if mensaje %}
<div class="alert alert-danger">{{ mensaje }}</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Nombre de usuario:</label>
        <input type="text" id="id_username" name="username" value="{{ user.username }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_email">Correo electrónico:</label>
        <input type="email" id="id_email" name="email" value="{{ user.email }}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_profesion">Profesión:</label>
        <select id="id_profesion" name="profesion" class="form-control">
            {% for profesion in profesiones %}
            <option value="{{ profesion.id }}" {% if profesion.id == usuario.profesion.id %} selected {% endif %}>{{ profesion.profesion }}</option>
            {% endfor %}
        </select>
    </div>
    
    <select id="id_comuna" name="comuna" class="form-control">
        <option value="">Seleccionar comuna</option>
        {% for comuna in comunas %}
        <option value="{{ comuna.id }}" {% if comuna.id == 1 %} selected {% endif %}>{{ comuna.nombre }}</option>
        {% endfor %}
    </select>
    
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_region').change(function () {
            var region_id = $(this).val();
            if (region_id) {
                $.ajax({
                    url: '/obtener_comunas/',  // URL de la vista para obtener comunas
                    type: 'GET',
                    data: {
                        'region_id': region_id
                    },
                    success: function (data) {
                        $('#id_comuna').html(data);
                    }
                });
            } else {
                $('#id_comuna').html('<option value="">Seleccionar comuna</option>');
            }
        });
    });
</script>

{% endblock %}