{% extends "alumnos/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if usuario %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm" style="background-color: #f8f9fa;">
                <div class="card-header bg-light text-center">
                    <h2>Formulario para Actualizar Datos</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'usuariosUpdate' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="hidden" name="user_id" value="{{ user_id }}">
                        </div>

                        <div class="form-group">
                            <label for="id_nombres">NOMBRES:</label>
                            <input type="text" id="id_nombres" name="nombres" class="form-control"
                                value="{{ usuario.nombres }}">
                        </div>

                        <div class="form-group">
                            <label for="id_apellidos">APELLIDOS:</label>
                            <input type="text" id="id_apellidos" name="apellidos" class="form-control"
                                value="{{ usuario.apellidos }}">
                        </div>
                        
                        <div class="form-group">
                            <label for="nom_usuario">NOMBRE DE USUARIO:</label>
                            <input type="text" id="nom_usuario" name="nom_usuario" class="form-control"
                                value="{{ usuario.nom_usuario }}">
                        </div>

                        <div class="form-group">
                            <label for="id_telefono">TELEFONO:</label>
                            <input type="text" id="id_telefono" name="telefono" class="form-control"
                                value="{{ usuario.telefono }}">
                        </div>

                        <div class="form-group">
                            <label for="id_email">CORREO:</label>
                            <input type="text" id="id_email" name="email" class="form-control"
                                value="{{ usuario.email }}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="id_password">CONTRASEÑA:</label>
                            <input type="password" id="id_password" name="password" class="form-control"
                                value="{{ usuario.password }}">
                        </div>

                        <div class="form-group">
                            <label for="id_fecha_nacimiento">F. NACIMIENTO:</label>
                            <input type="date" id="id_fecha_nacimiento" name="fecha_nacimiento" class="form-control"
                                value="{{ usuario.fecha_nacimiento|date:'Y-m-d' }}">
                        </div>

                        <div class="form-group">
                            <label for="id_profesion">PROFESION:</label>
                            <select id="id_profesion" name="profesion" class="form-control">
                                {% for profesion in profesiones %}
                                {% if profesion.id_profesion == usuario.id_profesion.profesion %}
                                <option value="{{ profesion.id_profesion }}" selected>{{ profesion.profesion }}</option>
                                {% else %}
                                <option value="{{ profesion.id_profesion }}">{{ profesion.profesion }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_region">REGION:</label>
                            <input type="text" id="id_region" name="region" class="form-control"
                                value="{{ usuario.region }}">
                        </div>

                        <div class="form-group">
                            <label for="id_ciudad">CIUDAD:</label>
                            <input type="text" id="id_ciudad" name="ciudad" class="form-control"
                                value="{{ usuario.ciudad }}">
                        </div>

                        <div class="form-group">
                            <label for="id_cod_postal">CODIGO POSTAL:</label>
                            <input type="text" id="id_cod_postal" name="cod_postal" class="form-control"
                                value="{{ usuario.cod_postal }}">
                        </div>

                        <button type="submit" name="opcion" value="Actualizar"
                            class="btn btn-primary">Actualizar</button>
                        <a href="{% url 'crud' %}" class="btn btn-secondary">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <div id="idMensajes" class="mt-3">
        {% if mensaje %}
        <div class="alert alert-info" role="alert">
            {{ mensaje }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
