/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta el alto para ocupar toda la altura visible */
}

.container {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenido */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

/* Estilos para los productos y el carrito */
.producto {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #2b1f1b;
    color: #555;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px black;
}

.opcion-suscripcion h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

.opcion-suscripcion p {
    font-size: 14px;
    margin-bottom: 10px;
    
}
.opcion-suscripcion{
    min-height: 1100px;
}


.opcion-suscripcion .btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #af654c;
    color: white;
    border: none;
    cursor: pointer;
    text-align: justify;
    transition: background-color 0.3s;
}

.opcion-suscripcion .btn:hover {
    background-color: #45a049;
}

#carrito {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo del carrito */
    background-color: #f9ece6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#lista-carrito {
    list-style-type: none;
    padding-left: 0;
}

#lista-carrito li {
    font-size: 14px;
    margin-bottom: 5px;
}

#total-carrito {
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.bordes {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    background-color: #45a049;
}
