header {
    width: 100%;
    background: #696c74;

}

header a {
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

header a:hover {
    background: #fffefe;
    border-radius: 20px;
}

#aTransition {
    transition: all 1000ms ease;
}