body {

    font-family: Arial, sans-serif;

}

.carousel-item img {
    /* Ancho de los objetos del carrusel */
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    max-width: 850px;/* Evitar que la imagen se estire más allá de su tamaño original */
    height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
}

.carousel-container {
    margin-top: 20px;
    margin-left: 10%;
    /* Espaciado entre el menú y el carrusel */
}

.carousel-inner {
    margin-top: 2%;
    margin: auto;
    height: auto;
    max-height: 450px;

}
.carousel-item-2 {
    margin: auto;
    margin-top: 2%;
    width: 40%;
    height: 50%;

}

.carousel-control-prev {
    width: 5%;
    height: 15%;
    margin-top: 45%;
    margin-right: 10%;
   
}

.carousel-control-next {
    width: 5%;
    height: 15%;
    margin-top: 45%;
    margin-left:10%;
    
}

.constain-form{
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 10%;

}
.card-body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: auto;
    height: 250px;
}

