body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container { 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito {
    background-color: #f9ece6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.opcion-suscripcion {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ddbcb2;
    color: #555;
    cursor: pointer;
    border-radius: 5px;
}

.btn-agregar{
    background-color: #af654c;
    color:white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);;

}
.btn-agregar:hover{
    background-color: #45a049;
}
#carrito-container{
    padding: auto;
    max-width: 200px;
    max-height: 150px;
    top: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
#carrito-items{
    margin-bottom: 10px;
}
#carrito-total{
    font-weight: bold;
}
.header-carrito{
    
    max-height: 40px;
    height: 40px;
    background-color: hwb(0 17% 47%);
    width: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color:white;
    text-align: center;   

}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
